*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body{
    font-family: 'Lato', sans-serif;
	height: 100vh;
	background: linear-gradient(to bottom, #009688 0% 15%, #D8DBD5 15% 100%);
    padding: 30px;
    cursor: pointer;
}

/* CONTENITORE DI TUTTA APP */

.app-container {
	width: 80%;
	height: 100%;
	margin: 15px auto;
	display: flex;
}

/* COLONNA SINISTRA */

.col-left{
    height: 100%;
    width: 30%;   
	background-color: white;
}

/* USER */

.header-utente{
    height: 70px;
    background-color: #EAEAEA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid lightgray;
}

.utente{
    display: flex;
    align-items: center;

}

.utente h3{
    margin-left: 15px;
    margin-top: 5px;
    color: black;
    font-size: 15px;
}

.omini{
    height: 50px;
    width: 50px;
    border-radius: 20px;
    margin-left: 10px;
}

.icone{
    color: gray;    
    font-size: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: end;
    gap: 15px;
}

/* NOTIFICHE */

.notifiche {
  width: 100%;
  height: 86px;
  background-color: lightblue;
  display: flex;
  align-items: center;
}

.mess {
  display: flex;
  flex-direction: column;
}

.mess p {
  color: black;
  font-size: 14px;
}

.sfondo-campana {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: white;
  margin: 13px;
  display: flex;
  align-items: center;
}

.sfondo-campana i{
   color: lightskyblue;
   font-size: 20px;
   margin-left: 12px;
}

/* BARRA CERCA */

.cerca {
  width: 100%;
  height: 50px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.dentro-input {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 80%;
  margin: auto;
  background: #f1efef;
  color: lightgray;
}

.cerca input {
  border: 0;
  width: 80%;
  height: 100%;
}

.cerca-chat {
  background:  #f1efef;
}

/* CONTATTI */
.contatti {
	height: calc(100% - 206px);
	overflow-y: scroll;
}

.contatti li {
	padding: 10px 20px;
	display: flex;
}

.contatti li.active{
	background-color: #E9EBEB;
}

.contatti-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
    margin-left: 5px;
}

.contatti-avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.contatti-nome {
	margin-left: 20px;
    font-weight: bold;
}
.contatti-nome p{
    margin-top: 2px;
    font-size: 12px;
    font-weight: normal;
}

/* COLONNA DI DESTRA */

.col-right{
    height: 100%;
    width: 70%;
    background-color: red;
}

/* MESSAGGI */

.messaggio-container {
	height: calc(100% - 130px);
	background-image: url('../img/mine.jpg');
	overflow-y: scroll;
	padding: 50px;
}
.messaggio {
	display: flex;
}

.messaggio.sent
.messaggio-text{
	background: #D5F9BA;
	margin-left: auto;
}

.messaggio-text {
	position: relative;
	width: 40%;
	padding: 1.25rem;
	border-radius: 10px;
	background: #fff;
	margin-bottom: 10px;
}

.messaggio-date {
	position: absolute;
	font-size: 12px;
	right: 5px;
	bottom: 3px;
	color: gray;
} 

.send-messaggio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    background-color: #f3eeea;
    }

.send-messaggio i {
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-right: 15px;
    color: #b1b1b1;
}

.input-send-messaggio {
    padding: 0 15px;
}

.input-send-messaggio,
.input-send-messaggio input {
    height: 100%;
    width: 100%;
}

.input-send-messaggio input {
    border: none;
    border-radius: 5px;
    padding: 10px;
}

.accesso p{
    font-size: 12px;
    margin-left: 15px;
}